Flask==3.1.0
flask-cors==5.0.1
accelerate==1.4.0
assemblyai==0.37.0
async-timeout==5.0.1
Flask-SocketIO==5.5.1
huggingface-hub==0.29.1
numpy==2.1.2
ollama==0.4.7
pandas==2.2.3
pip3-autoremove==1.2.2
PyAudio==0.2.14
python-dotenv==1.0.1
python-engineio==4.11.2
python-socketio==5.12.1
sounddevice==0.5.1
tokenizers==0.21.0
transformers==4.49.0
websockets==15.0
